<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Sign Up

    <form action="sign-up" method="post">
        <label>Email address:</label>
        <input type="email" name="emailAddress" id="emailAddress">

        <label>Password:</label>
        <input type="password" name="passwordFirst" id="passwordFirst">

        <label>Password again:</label>
        <input type="password" name="passwordAgain" id="passwordAgain">

        <button type="submit">Sign Up</button>
    </form>
</body>
</html>